<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlitBit.Copy" version="3.0.0" targetFramework="net451" />
  <package id="FlitBit.Core" version="3.3.0" targetFramework="net451" />
  <package id="FlitBit.Data" version="3.2.2-pre" targetFramework="net451" />
  <package id="FlitBit.Emit" version="3.0.0" targetFramework="net451" />
  <package id="FlitBit.IoC" version="3.2.1" targetFramework="net451" />
  <package id="FlitBit.ObjectIdentity" version="2.0.0" targetFramework="net451" />
  <package id="FlitBit.Registrar" version="2.0.0" targetFramework="net451" />
  <package id="FlitBit.Wireup" version="3.4.0" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.20" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.312" targetFramework="net451" />
</packages>